.about {
    height: 100vh;

}
.about_header {
    text-align: center;
    background-color: #4d91f8;
    color:aliceblue;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.App-link::before{
    content: '<< ';
}
.about_header h1{
    width: 70%;
    margin: 0;
    padding: 0;
}
.about_main {
    background-color: rgb(176, 176, 176);
    color: #282c34;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 43px 0px;
}
.about_main img {
    width: 20%;
    border-radius: 50%;
}
.about_main p {
    font-size: 23px;
    width: 700px;
}
.about_description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_description ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about_description ul li {
    list-style: none;
    background-color: #4d91f8;
    padding: 24px;
    border-radius: 5%;
}
.about_description ul li:hover{
    color: aliceblue;
}