.App {
  text-align: center;
}

.App-header {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #4d91f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
}

.App-link {
  color: #282c34;
  text-decoration: none;
  font-size: calc(10px + 2vmin);

}
.App-link:hover {
  color: #ffff;
}

.App-main {
  background-color:  rgb(176, 176, 176);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App-main_block {
  background-color:  rgb(161, 161, 161);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 30%;
  height: 300px;
  opacity: 0.33;

}
.App-main_block:hover{
  opacity: 1;
  color: aliceblue;
}

.App-footer{
  background-color: #4d91f8;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
}


